.contactsButton {
  width: 140px;
  padding: 5px 15px;
  border: 1px solid #1083eb8a;
  border-radius: 5px;
  background-color: transparent;
  color: #1083eb8a;
  margin: 30px auto;
}
.contactsButton:hover,
.contactsButton:focus {
  background-color: #1083eb8a;
  color: #ffffff;
}
